includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - src
    tmpDir: var/phpstan
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkMissingOverrideMethodAttribute: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportStaticMethodSignatures: true
    reportWrongPhpDocTypeInVarTag: true
    treatPhpDocTypesAsCertain: true
